@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-size: 0.94rem;
  font-family: "Inter", sans-serif;
  background-color: #090b1a;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: rgba(255, 255, 255, 0.75);
  line-height: 1.6;
  padding: 1rem; }

main {
  width: 100%;
  max-width: 65rem;
  background-color: #1b1938;
  border-radius: 0.3rem;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr; }

.img {
  background: linear-gradient(rgba(170, 92, 219, 0.5), rgba(170, 92, 219, 0.5)), url("../images/image-header-desktop.jpg") no-repeat center center/cover; }

section {
  margin: 4rem; }
  section h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1.5rem; }
    section h1 span {
      color: #aa5cdb; }
  section .description {
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 4rem; }
  section .stats {
    display: flex;
    align-items: center;
    gap: 4rem; }
    section .stats__number {
      font-size: 1.2rem;
      font-weight: 700;
      letter-spacing: 1px; }
    section .stats__label {
      font-family: "Lexend Deca", sans-serif;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.6);
      font-size: 0.6rem;
      letter-spacing: 0.1rem; }

@media (max-width: 750px) {
  main {
    grid-template-columns: 1fr;
    grid-template-rows: 15rem 1fr;
    max-width: 25rem;
    text-align: center; }
  .img {
    grid-row: 1;
    background: linear-gradient(rgba(170, 92, 219, 0.5), rgba(170, 92, 219, 0.5)), url("../images/image-header-mobile.jpg") no-repeat center center/cover; }
  section {
    margin: 2rem 1.5rem 2rem 1.5rem; }
    section .description {
      margin-bottom: 2rem; }
    section .stats {
      flex-direction: column;
      gap: 1.5rem; } }
